# Income Tax Return Verification due date

After the income tax return is filed, it needs to be verified.
The most common process is e-verification by way of OTP/ Aadhar/ DSC.

The general due date for verification of return is 30 days from filing of return.

## Consequence of late
There is a possibility to apply for condonation of delay.
If return is not verified before due date, it is considered as if No return is filed.

## AY 2022-23
In this assessment year, the due date of e-verification of return was changed.
Hence, depending upon the date of return filed, the due date of verification is different.

Return filing Date|Verification Due Date
-- | --
On or before 31st July 2022|120 Days from return filing
After 31st July 2022|30 Days from return filing


## AY 2021-22
The due date for verification of return for AY 2021-22 is 120 days from date of return filing.


## AY 2020-21
The due date for verification of return for AY 2020-21 is 28th February 2022.

### Extension
28th December 2021 - One-time relaxation for verification for all income tax return filed. \
Ref: [Circular](https://incometaxindia.gov.in/communications/circular/circular-no21-2021.pdf)
